<p>Tene en cuenta que muchas de las cosas a continuación probablemente no estan todavia hechas, pero estan planeadas estarlo en el futuro.</p>
<h1>¿Que es manejador-de-tareas?</h1>
<p>Es un manejador de tareas <strong>escolares</strong>.</p>
<p>Esta hecho para que los alumnxs/docentes colaboren entre ellos para <strong>llegar a la escuela con la tarea hecha</strong>.</p>
<p>El docente puede registar la/s tareas en el sistema, y los alumnxs facilmente pueden organizarse (si es un trabajo grupal o invididual) alrededor de eso.</p>
<p>Esto es para arreglar el problema de que los alumnos no se acuerdan de las tareas/no las encuentran en su carpeta.</p>
<p>Si el docente no quiere registrar las tareas, un alumnx administrador puede registrarlas.</p>
<p>No requiere ningun sistema aparte, como <a href="https://moodle.org/">Moodle</a>, <a href="https://classroom.google.com/h">Google Classroom</a> o <a href="https://www.edmodo.com/">Edmodo</a>.</p>
<p>Pero si queres, podes integrarlo <a href="#">aquí // link no existente, leer primera parte de esto</a>.</p>
