<div class="container">
  <form ng-submit="loginCtrl.logIn(loginCtrl.userBeingLoggedIn)" class="form-login">
    <h2>Iniciar Sesión</h2>
    <div ng-show="loginCtrl.showAlert" class="alert" ng-class="{'alert-danger': loginCtrl.alertType == 'danger'}" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{loginCtrl.alert}}
    </div>
    <div class="form-group">
      <input ng-model="loginCtrl.userBeingLoggedIn.user" type="text" class="form-control input-lg" placeholder="Usuario">
      <input ng-model="loginCtrl.userBeingLoggedIn.password" type="password" class="form-control input-lg" placeholder="Contraseña">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-lg btn-block">
        Iniciar Sesión
      </button>
      <p>
        ¿No tenes una cuenta? <a ui-sref="register">Registrar</a>
      </p>
    </div>
  </form>
</div>
