<div class="container">
  <div ng-show="perfilCtrl.loginServicio.logeado">
    <div class="page-header">
      <h1>Perfil</h1>
    </div>

    <div id="perfil-nav">
      <button class="btn btn-primary" ng-click="perfilCtrl.actualizarPerfil()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        Recargar
      </button>
      <button class="btn btn-primary" ng-click="perfilCtrl.toggleEdicionPerfil()">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Editar
      </button>
    </div>

    <div ng-show="perfilCtrl.mostrarAlerta" class="alert" ng-class="{'alert-danger': perfilCtrl.tipoDeAlerta == 'danger'}" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{perfilCtrl.alerta}}
    </div>

    <div ng-hide="perfilCtrl.editando" class="panel panel-default">
      <ul class="list-group">
        <li ng-show="perfilCtrl.perfil.nombre || perfilCtrl.perfil.apellido" class="list-group-item">
          Nombre: {{perfilCtrl.perfil.nombre + " " + perfilCtrl.perfil.apellido}}
        </li>
        <li class="list-group-item">
          Usuario: {{perfilCtrl.perfil.usuario}}
        </li>
        <li class="list-group-item">
          Email: {{perfilCtrl.perfil.email}}
        </li>
      </ul>
    </div>

    <!-- Modo edición -->
    <form ng-submit="perfilCtrl.editarPerfil(perfilCtrl.perfil)" ng-show="perfilCtrl.editando" class="form-perfil" name="perfil">
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="form-perfil-nombre-completo list-group-item">
            <input ng-model="perfilCtrl.perfil.nombre" placeholder="Nombre" class="edit form-control" type="edit">
            <input ng-model="perfilCtrl.perfil.apellido" placeholder="Apellido" class="edit form-control" type="edit">
          </li>
          <li class="list-group-item">
            <input ng-model="perfilCtrl.perfil.usuario" placeholder="Usuario" class="edit form-control" type="edit">
          </li>
          <li class="list-group-item">
            <input ng-model="perfilCtrl.perfil.email" placeholder="Email" class="edit form-control" type="email">
          </li>
          <div ng-click="perfilCtrl.editarPerfil(perfilCtrl.perfil)" class="panel-footer">
            <button type="button" class="btn btn-default btn-lg">
              Terminar de editar
            </button>
          </div>
        </ul>
      </div> 
    </form>
  </div>
  <div ng-hide="perfilCtrl.loginServicio.logeado">
    <h1>No estas logeado. <a ui-sref="login">Logearse</a></h1>
  </div>
</div>
