<div class="container">
  <div ng-show="profileCtrl.loginService.loggedIn">
    <div class="page-header">
      <h1>Perfil</h1>
    </div>

    <div id="profile-nav">
      <button class="btn btn-primary" ng-click="profileCtrl.updateProfile()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        Recargar
      </button>
      <button class="btn btn-primary" ng-click="profileCtrl.toggleProfileEditing()">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Editar
      </button>
    </div>

    <div ng-show="profileCtrl.showAlert" class="alert" ng-class="{'alert-danger': profileCtrl.alertType == 'danger'}" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{profileCtrl.alert}}
    </div>

    <div ng-hide="profileCtrl.editing" class="panel panel-default">
      <ul class="list-group">
        <li ng-show="profileCtrl.profile.name || profileCtrl.profile.lastname" class="list-group-item">
          Nombre: {{profileCtrl.profile.name + " " + profileCtrl.profile.lastname}}
        </li>
        <li class="list-group-item">
          Usuario: {{profileCtrl.profile.user}}
        </li>
        <li class="list-group-item">
          Email: {{profileCtrl.profile.email}}
        </li>
      </ul>
    </div>

    <!-- Modo edición -->
    <form ng-submit="profileCtrl.editProfile(profileCtrl.profile)" ng-show="profileCtrl.editing" class="form-profile" name="profile">
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="form-profile-full-name list-group-item">
            <input ng-model="profileCtrl.profile.name" placeholder="Nombre" class="edit form-control" type="edit">
            <input ng-model="profileCtrl.profile.lastname" placeholder="Apellido" class="edit form-control" type="edit">
          </li>
          <li class="list-group-item">
            <input ng-model="profileCtrl.profile.user" placeholder="Usuario" class="edit form-control" type="edit">
          </li>
          <li class="list-group-item">
            <input ng-model="profileCtrl.profile.email" placeholder="Email" class="edit form-control" type="email">
          </li>
          <div ng-click="profileCtrl.editProfile(profileCtrl.profile)" class="panel-footer">
            <button type="button" class="btn btn-default btn-lg">
              Terminar de editar
            </button>
          </div>
        </ul>
      </div> 
    </form>
  </div>
  <div ng-hide="profileCtrl.loginService.loggedIn">
    <h1>No estas logeado. <a ui-sref="login">Logearse</a></h1>
  </div>
</div>
