main {
  margin: 0 2%;
}

#toolbar {
  padding-bottom: 1.5%;
}

.tarea {

}
  .tarea .btn-toolbar {
  	display: inline-block;
  	float: right;
  }
  .tarea .info-tarea {
    display: inline-block;
  }
    .tarea .info-tarea h4,
    .tarea .info-tarea p {
      display: inline-block;
    }
    .tarea .info-tarea .tarea-subinfo {

    }

  .tarea .editar-tarea {
    display: inline-block;
  }

.dropdown {
  cursor: pointer;
}

.nav li {
  cursor: pointer;
}
