main {
  margin: 0 2%;
}

input.ng-invalid {
  border-color: #dc322f !important;
}

/* Tareas/Materias */

#toolbar {
  padding-bottom: 1.5%;
}

.tarea,
.materia {

}
  .tarea .btn-toolbar,
  .materia .btn-toolbar {
  	display: inline-block;
  	float: right;
  }
  .tarea .info-tarea,
  .materia .info-materia {
    display: inline-block;
  }
    .tarea .info-tarea h4,
    .materia .info-materia h4,
    .tarea .info-tarea p,
    .materia .info-materia p {
      display: inline-block;
    }
    .tarea .info-tarea .tarea-subinfo {

    }

  .tarea .editar-tarea,
  .materia .editar-materia {
    width: 80%;
    display: inline-block;
  }

/* Fix cursor */
.nav li,
.dropdown {
  cursor: pointer;
}

/* Login */

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
  .form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/* Registrar */

.form-registrar {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
  .form-registrar .form-group input {
    margin-top: 7px;
  }

/* Perfil */

#perfil-nav {
  margin-bottom: 20px;
}

.form-perfil {

}
  .form-perfil .form-perfil-nombre-completo {

  }
    .form-perfil .form-perfil-nombre-completo input:first-of-type {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .form-perfil .form-perfil-nombre-completo input:last-of-type {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
