main {
  margin: 0 2%;
}

input.ng-invalid {
  border-color: #dc322f !important;
}

/* Tareas/Materias */

#toolbar {
  padding-bottom: 1.5%;
}

.homework,
.topic {

}
  .homework .btn-toolbar,
  .topic .btn-toolbar {
  	display: inline-block;
  	float: right;
  }
  .homework .info-homework,
  .topic .info-topic {
    display: inline-block;
  }
    .homework .info-homework h4,
    .topic .info-topic h4,
    .homework .info-homework p,
    .topic .info-topic p {
      display: inline-block;
    }
    .homework .info-homework .homework-subinfo {

    }

  .homework .edit-homework,
  .topic .edit-topic {
    width: 80%;
    display: inline-block;
  }

/* Fix cursor */
.nav li,
.dropdown {
  cursor: pointer;
}

/* Login */

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
  .form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/* Registrar */

.form-register {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
  .form-register .form-group input {
    margin-top: 7px;
  }

/* Perfil */

#profile-nav {
  margin-bottom: 20px;
}

.form-profile {

}
  .form-profile .form-profile-full-name {

  }
    .form-profile .form-profile-full-name input:first-of-type {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .form-profile .form-profile-full-name input:last-of-type {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
