<!DOCTYPE html>
<html ng-app="manejador-de-tareas">
  <head>
  <meta charset="utf-8">
    <title>Manejador de Tareas</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://bootswatch.com/solar/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">manejador-de-tareas</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/tareas.html">Tareas <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Iniciar Sesión</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <main>
      <div class="" ng-controller="TareasController as tareasCtrl" id="tareas-body">
        <div id="toolbar">
          <button class="btn btn-primary" ng-click="tareasCtrl.empezarNuevaTarea();">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Crear Tarea
          </button>
          <button class="btn btn-primary" ng-click="tareasCtrl.recargarTareas();">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Recargar
          </button>
        </div>
        <ul class="list-group panel panel-default">
          <li ng-repeat="tarea in tareasCtrl.tareas track by $index" ng-dblclick="tareasCtrl.empezarAEditarTarea(tarea);" class="tarea list-group-item">
            <div class="info-tarea" ng-hide="tareasCtrl.tareaSiendoEditada == tarea">
              <h4>{{tarea.nombre}}</h4>
              <p>{{tarea.descripcion}}</p>
              <br/>
              <p class="tarea-subinfo">
                Materia: <strong>{{tarea.materia.nombre}}</strong>
              </p>
            </div>
            <div class="editar-tarea" ng-show="tareasCtrl.tareaSiendoEditada == tarea">
              <form ng-submit="tareasCtrl.editarTarea(tarea);">
                <input ng-model="tarea.nombre" placeholder="Titulo de tarea" class="edit form-control" type="edit">
              </form>
              <form ng-submit="tareasCtrl.editarTarea(tarea);">
                <input ng-model="tarea.descripcion" placeholder="Descripción de tarea" class="edit form-control" type="edit">
              </form>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Materia
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li ng-repeat="materia in tareasCtrl.materias">
                    <a ng-click="tareasCtrl.cambiarMateria(tarea, materia)">{{materia.nombre}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="btn-toolbar btn-group" role="group">
              <button ng-click="tareasCtrl.toggleEdicionTarea(tarea)" class="btn btn-primary btn-accion-tarea" aria-label="Editar">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
              <button ng-click="tareasCtrl.eliminarTarea(tarea)" class="btn btn-danger btn-accion-tarea" aria-label="Eliminar">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </div>
          </li>
          <li ng-show="tareasCtrl.creando" class="tarea list-group-item">
            <form ng-submit="tareasCtrl.anadirTarea(tareasCtrl.nuevaTarea);">
              <input ng-model="tareasCtrl.nuevaTarea.nombre" placeholder="Titulo de tarea" class="edit form-control" type="edit">
            </form>
            <form ng-submit="tareasCtrl.anadirTarea(tareasCtrl.nuevaTarea);">
              <input ng-model="tareasCtrl.nuevaTarea.descripcion" placeholder="Descripción de tarea" class="edit form-control" type="edit">
            </form>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{tareasCtrl.nuevaTarea.materia.nombre || "Materia"}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li ng-repeat="materia in tareasCtrl.materias">
                    <a ng-click="tareasCtrl.setearMateria(tareasCtrl.nuevaTarea, materia);">{{materia.nombre}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
    <script src="/js/MostrarTareas.js" charset="utf-8"></script>
  </body>
</html>
